.text-center.u-padding-bottom-xl.u-padding-top-md{:style => "background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%); position: relative;"}
  %div{:style => "background: url(/images/home/home-particles-6.svg) center 27% no-repeat;"}  
    %img.footer-logo{:src => "/images/home/illustrations_gitlab_logo.svg", :style => "display: block;"}
    %h1{:style => "margin: 0;"} Ready to talk?
    %p Unlimited access to all features for 30 days.
    .container.buttons-container.hero-item.u-margin-top-sm.u-margin-bottom-sm.hero-content.text-center{:style => "min-width: 100%;"}
      = link_to "/free-trial/", class: "btn cta-btn orange-light", style: "margin-right: 15px;" do
        Start your free trial
      = link_to "/sales/", class: "btn cta-btn", style: "color: #333; border-color: #333;" do
        Contact Sales
