<!-- If you change this file, make sure to also update doc/templates/blog/monthly_announcement_frontpage.html.haml -->
%section.ten-oh-announcement.u-margin-bottom-xl
  .ten-oh-label
    %span 13.8
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading.u-margin-top-xs New features every month
      %p.u-margin-bottom-xs
        GitLab 13.8 released with a Pipeline Editor, DORA metrics, quality of life improvements, and much more!

      .btn-group
        = link_to "/releases/2021/01/22/gitlab-13-8-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link", style: "color: #e65328; background: #fff;" do
          See what’s new
:erb
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
      "description":"GitLab is a complete DevOps platform, delivered as a single application.",
    "applicationCategory": "DevOps",
    "operatingSystem": "Linux based",
      "name":"GitLab 13.8",
      "releaseNotes":"https://about.gitlab.com/releases/2021/01/22/gitlab-13-8-released/",
      "softwareVersion":"13.8",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "ratingCount": "285"
    },
    "offers": {
      "@type": "AggregateOffer",
      "priceCurrency": "USD",
      "lowPrice": "0",
      "highPrice": "1188.00"
    }
  }
  </script>
