---
layout: job_family_page
title: "Program Manager, Field Enablement"
---

Reporting to the Manager of Field Enablement Programs, the Program Manager role is responsible for building and managing world-class virtual global sales training and enablement programs.

## Responsibilities

* Develop and lead the successful execution of sales enablement programs to ensure internal and external customers and partners are equipped with content, resources, tools and training to effectively differentiate and sell the GitLab solution.
* Collaborate with marketing and other SMEs to identify and develop core sales training and enablement curriculum, customized regionally as needed, for various internal and external audiences.
* Ensure alignment of sales enablement activities with key internal and external events, such as new product releases, campaigns, and essential industry trade shows.
* Manage and drive online, self-paced on-boarding and result-driven continuous learning.
* Leverage Salesforce.com CRM infrastructure and other tools for delivering formal and informal/social learning.
* Develop sales competency assessment programs, as well as partner certification programs.
* Measure and report on the effectiveness of sales enablement investments and the programs conducted.
* Determine opportunities for improving the sales learning experience and identify innovative techniques for delivery.

## Requirements

* Software sales or sales enablement experience, preferably with expertise in DevOps and/or Open Source.
* Working knowledge of sales training technology and methodologies; demonstrable experience with sales enablement concepts, practices, and procedures.
* Relevant experience preparing, developing, and executing sales effectiveness strategies, tactics and action plans.
* Ability to quickly understand technical concepts and explain them to audiences of varying technical expertise (sales team, customers, channel partners, and internal support partners).
* Experience growing within a small start-up. Strong ability to interact and influence effectively with sales professionals and sales management.
* Exceptional written/verbal communication and presentation skills.
* Team player with strong intrapersonal skills, skilled at project and change management and cross-functional collaboration.
* Ability to thrive in a fast-paced, unpredictable environment.
* Share and work in accordance with [GitLab's values](https://about.gitlab.com/handbook/values/).
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Program Manager, Sales and Customer Enablement" }) %>

## Levels

### Program Manager, Field Enablement (Intermediate)

#### Job Grade 

The Program Manager, Field Enablement is a [grade 6](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

#### Responsibilities
* Successfully accomplishes responsibilities with minimal direction or oversight

#### Requirements

* 1-3 years experience in a software sales or sales enablement role
* Ability to continuously meet deadlines and execute on projects with positive impact from stakeholders

### Senior Program Manager, Field Enablement

#### Job Grade 

The Senior Program Manager, Field Enablement is a [grade 7](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

#### Responsibilities
* Works quickly and iteratively on projects with very limited direction from others
* Proven experience building and managing successful sales enablement programs for B2B enterprise sales professionals
* Viewed as a subject matter expert and trusted advisor by the sales organization and key stakeholders
* Innovates and continually improves the delivery of world-class sales enablement programs
* Regularly shares best practices and provides constructive coaching and feedback to other members of the team

#### Requirements

* 5+ years experience in a software sales or sales enablement role, preferably with expertise in DevOps and/or Open Source
* Self-manages workload to meet deadlines and prioritize accordingly

## Specialties
### Sales Enablement
* Focus on development and execution of impactful training and enablement solutions for GitLab sales professionals (Enterprise and Public Sector Strategic Account Leaders, Mid-Market Account Executives, SMB Customer Advocates, and Inside Sales Reps) across the sales professional lifecycle

### Technical Sales Enablement
* Focus on development and execution of impactful training and enablement solutions for GitLab technical sales and customer success professionals (Solution Architects and Technical Account Managers) across the technical sales professional lifecycle

### Partner Sales Enablement
* Focus on development of impactful training and enablement solutions for GitLab partner pre-sales, sales, and post-sales professionals

## Career Ladder

The next steps for the Program Manager, Field Enablement Job Family would be to move to the [Field Enablement Leadership](/job-families/sales/director-of-field-enablement/) Job Family.
